@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
/* start */
body {
    background-color: #e8ecef;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

.light:hover {
    background-color: #ccc;
}

.dark:hover {
    background-color: #333;
}

.welcome {
    font-size: 3.5rem;
}

.lead {
    font-size: 1.2rem;
}

hr {
    margin-bottom: 30px;
    width: 70%; /* Задайте желаемую ширину линии */
}