@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

body {
    background-color: #e8ecef;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
    border-bottom: solid black 2px;
    margin-bottom: 40px;
    text-align: center;
}

.registration-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: block;
    width: fit-content;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}
